header {
    background-image: url('../img/header_bg.jpg');
    background-position: left top !important;
    background-repeat: no-repeat !important;
    background-color: #333 !important;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 7px;
}

header .navigation {
    overflow: hidden;
    margin-left: 1px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

header .navigation ul {
    margin: 0px;
}

header .navigation li {
    background-color: #444444 !important;
    list-style: none none;
    float: left;
    padding: 4px 7px;
    margin: 0 0 0 6px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    -moz-box-shadow: 0 0 4px #777;
    -webkit-box-shadow: 0 0 4px #777;
    box-shadow: 0 0 4px #777;
}

header .navigation li:hover {
    background-color: #999999 !important;
}

header .navigation li.current:hover {
    background-color: #444444 !important;
}

header .navigation li>a {
    color: #cccccc !important;
    text-decoration: none;
}

header .navigation li>a:hover {
    text-decoration: underline;
}

header .navigation li.current>a,
header .navigation li.current>a:hover {
    color: #ff882a!important;
}

header .navigation li.current>a:hover {
    text-decoration: underline;
}

.presentation {
    color: rgb(255,153,0);
    font-size: medium;
    width:100%;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    padding: 10px;
}

.container h3 {
    color: #ff882a!important;
}

.detail {
    color: black;
    font-size: large;
    width: 100%;
    text-align: center;
    line-height: 2em;
}

a {
    color: #ff882a!important;
    text-decoration: underline;
}

.dateblock {
    text-align: center;
    width : 100%;
    border: solid 1px #000;
    background: #eee;
    line-height: 3em;
    font-size: medium;
    margin-top: 20px;
    margin-bottom: 30px;
}

.dateblock .date {
    color: rgb(255, 153, 0);
    font-size: xx-large;
}

.contenuprogramme {
    border: solid 1px #000;
    width: 100%;
    margin-top:50px;
    margin-bottom:50px;
    padding-left:50px;
    padding-top:20px;
    padding-bottom: 20px;
    font-size:large;
}

.violet {
    color: rgb(153, 0, 255);
}

.rouge {
    color: rgb(255, 0, 0);
}

.bleu {
    color: rgb(61,133,198);
}

.orange {
    color: rgb(255, 153, 0);
}

.vert {
    color: rgb(56,118,29);
}

.foot_info {
    font-weight: bold;
    width:100%;
    text-align: center;
}