header {
    background-image: url('../img/header_bg.jpg');
    background-position: left top !important;
    background-repeat: no-repeat !important;
    background-color: #333 !important;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

header .wrapper {
    margin: 0 7px;
	padding-top: 7px;
}

header .navigation {
    overflow: hidden;
    margin-left: 1px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

header .navigation ul {
    margin: 0px;
}

header .navigation li {
    background-color: #444444 !important;
    list-style: none none;
    float: left;
    padding: 4px 7px;
    margin: 0 0 0 6px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    -moz-box-shadow: 0 0 4px #777;
    -webkit-box-shadow: 0 0 4px #777;
    box-shadow: 0 0 4px #777;
}

header .navigation li:hover {
    background-color: #999999 !important;
}

header .navigation li.current:hover {
    background-color: #444444 !important;
}

header .navigation li>a {
    color: #cccccc !important;
    text-decoration: none;
}

header .navigation li>a:hover {
    text-decoration: underline;
}

header .navigation li.current>a,
header .navigation li.current>a:hover {
    color: #ff882a!important;
}

header .navigation li.current>a:hover {
    text-decoration: underline;
}

.presentation {
    color: rgb(255,153,0);
    font-size: medium;
    width:100%;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    padding: 10px;
}

.container h3 {
    color: #ff882a!important;
}

.detail {
    color: black;
    font-size: large;
    width: 100%;
    text-align: center;
    line-height: 2em;
}

a {
    color: #ff882a!important;
    text-decoration: underline;
}

.dateblock {
    text-align: center;
    width : 100%;
    border: solid 1px #000;
    background: #eee;
    line-height: 3em;
    font-size: medium;
    margin-top: 20px;
    margin-bottom: 30px;
}

.dateblock .date {
    color: rgb(255, 153, 0);
    font-size: xx-large;
}

.contenuprogramme {
    border: solid 1px #000;
    margin-top:18px;
    padding-left:50px;
    padding-top:20px;
    padding-bottom: 20px;
    font-size:large;
}

.violet {
    color: rgb(153, 0, 255);
}

.rouge {
    color: rgb(221, 0, 0);
}

.bleu {
    color: rgb(61,133,198);
}

.orange {
    color: rgb(255, 153, 0);
}

.vert {
    color: rgb(56,118,29);
}

.gris {
    color: rgb(105,105,105);
}

.foot_info {
    font-weight: bold;
    width:100%;
    text-align: center;
}

.center {
    text-align:center;
}



/* Left will inherit from right (so we don't need to duplicate code */
.github-fork-ribbon {
    /* The right and left lasses determine the side we attach our banner to */
    position: absolute;

    /* Add a bit of padding to give some substance outside the "stitching" */
    padding: 2px 0;

    /* Set the base colour */
    background-color: #a00;

    /* Set a gradient: transparent black at the top to almost-transparent black at the bottom */
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)), to(rgba(0, 0, 0, 0.15)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#000000', EndColorStr='#000000');

    /* Add a drop shadow */
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);

    z-index: 9999;
}

.github-fork-ribbon span {
    /* Set the font */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: white;

    /* Set the text properties */
    text-decoration: none;
    text-shadow: 0 -1px rgba(0,0,0,0.5);
    text-align: center;

    /* Set the geometry. If you fiddle with these you'll also need to tweak the top and right values in #github-fork-ribbon. */
    width: 200px;
    line-height: 20px;

    /* Set the layout properties */
    display: inline-block;
    padding: 2px 0;

    /* Add "stitching" effect */
    border-width: 1px 0;
    border-style: dotted;
    border-color: rgba(255,255,255,0.7);
}

.github-fork-ribbon-wrapper {
    width: 150px;
    height: 150px;
    position: absolute;
    overflow: hidden;
    top: 0;
    z-index: 9999;
}

.github-fork-ribbon-wrapper.fixed {
    position: fixed;
}

.github-fork-ribbon-wrapper.left {
    left: 0;
}

.github-fork-ribbon-wrapper.right {
    right: 0;
}

.github-fork-ribbon-wrapper.left-bottom {
    position: fixed;
    top: inherit;
    bottom: 0;
    left: 0;
}

.github-fork-ribbon-wrapper.right-bottom {
    position: fixed;
    top: inherit;
    bottom: 0;
    right: 0;
}

.github-fork-ribbon-wrapper.right .github-fork-ribbon {
    top: 42px;
    right: -43px;

    /* Rotate the banner 45 degrees */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.github-fork-ribbon-wrapper.left .github-fork-ribbon {
    top: 42px;
    left: -43px;

    /* Rotate the banner -45 degrees */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


.github-fork-ribbon-wrapper.left-bottom .github-fork-ribbon {
    top: 80px;
    left: -43px;

    /* Rotate the banner -45 degrees */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.github-fork-ribbon-wrapper.right-bottom .github-fork-ribbon {
    top: 80px;
    right: -43px;

    /* Rotate the banner -45 degrees */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}






