---

---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr'" lang="fr-fr" ng-app="MobileProgramme" ng-controller="MobileCtrl">
<head>
    <meta charset="utf-8">
    <meta name="title" content="{{site.title}}">
    <meta itemprop="name" content="{{site.title}}">
    <meta property="og:title" content="{{site.title}}">
    <meta name="description" content="{{site.description}}">
    <meta itemprop="description" content="{{site.description}}">
    <meta id="meta-tag-description" property="og:description" content="{{site.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{site.title}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{site.url}}/img/favicon.ico" />
    <link rel="icon" type="image/png" href="{{site.url}}/img/favicon.png"/>
    <link rel="apple-touch-icon" href="{{site.url}}/img/apple-touch-icon.png"/>



    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
    <style type="text/css">
        li.speaker {
            padding: 5px 5px 5px 80px;
            min-height: 70px;
        }
        li.speaker img {
            max-height: 70px;
            margin: 5px;
        }
        li.speaker h4.name {
            margin-left: -15px;
            margin-top: -5px;
        }
        li.speaker p.detail {
            margin-left: -15px;
            margin-top: -5px;
            padding-top: 5px;
            height: auto;
            overflow-y: hidden;
        }
        p {
            margin: 0 10px;
        }
    </style>
    <script src="{{site.url}}/js/jquery-mobile-angular-adapter-standalone.min.js"></script>

{% raw %}
    <script>
        var app = angular.module("MobileProgramme", []);

        function findHoraireByTime(horaires, time) {
            var horaireFound = undefined;
            angular.forEach(horaires, function(horaire) {
                if (horaire.time === time) {
                    horaireFound = horaire;
                }
            });
            return horaireFound;
        }

        function MobileCtrl($scope, $http, $location) {
            $scope.loading = true;

            $scope.creneaux = {
                "universite": {
                    title: 'Université (3h)',
                    color: '#9900FF'
                },
                "quickie": {
                    title: 'Quickie (15min)',
                    color: '#38761D'
                },
                "hands-on": {
                    title: 'Hands-on (3h)',
                    color: '#DD0000'
                },
                "tools in action": {
                    title: 'Tools in action (30min)',
                    color: '#3D85C6'
                },
                "conference": {
                    title: 'Conférence (1h)',
                    color: '#FF9900'
                },
                "lab": {
                    title: 'Lab (1h)',
                    color: '#696969'
                },
                "biglab": {
                    title: 'Lab (2h)',
                    color: '#696969'
                },
                "keynote": {
                    title: 'Keynote (30min)',
                    color: '#5E87B0'
                }
            };


            $scope.converter = new Markdown.getSanitizingConverter();

            $scope.getSafeDescription = function(description) {
                if (description) {
                    return $scope.converter.makeHtml(description);
                }
                return "";
            };

            $scope.openTalk = function(talk) {
                if (talk.id !== undefined) {
                $http.jsonp("http://cfp.breizhcamp.org/accepted/talk/" + talk.id + "/jsonp?callback=JSON_CALLBACK")
                        .success(function(data) {
                            angular.forEach(data.speakers, function(speaker){
                                // Optim gravatar
                                if (speaker.avatar && speaker.avatar.indexOf("gravatar") !== -1) {
                                    speaker.avatar = speaker.avatar + "&s=200";
                                }
                                // Optim twitter
                                if (speaker.avatar && speaker.avatar.indexOf("twimg") !== -1) {
                                    if (speaker.avatar.indexOf("_normal") !== -1) {
                                        speaker.avatar = speaker.avatar.replace("_normal", "");
                                    }
                                }
                            });
                            $scope.talk = data;
                            $location.url('#talk');
                        });
                }
            }

            $http.jsonp("http://cfp.breizhcamp.org/programme/jsonp?callback=JSON_CALLBACK")
                    .success(function(data) {
                        angular.forEach(data.programme.jours, function(jour){

                            jour.countTalks = 0;
                            jour.horaires = [];


                            angular.forEach(jour.tracks, function(track){
                                jour.countTalks += track.talks.length;
                                angular.forEach(track.talks, function(talk){
                                    if (talk.time.length < 5) {
                                        talk.time = '0' + talk.time;
                                    }
                                    talk.track = track.type;

                                    var currentHoraire = findHoraireByTime(jour.horaires, talk.time);

                                    if (currentHoraire === undefined) {
                                        currentHoraire = {
                                            time : talk.time,
                                            talks : []
                                        };
                                        jour.horaires.push(currentHoraire);
                                    }

                                    currentHoraire.talks.push(talk);
                                });
                            });

                            jour.horaires.sort(function (horaire1, horaire2){
                                return horaire1.time.localeCompare(horaire2.time);
                            });
                        });
                        $scope.programme = data.programme;
                    });
        }

    </script>
</head>
<body>



<!-- Home -->
<div data-role="page" id="jours" data-theme="d">
    <div data-role="header">
        <h3>
            Breizhcamp 2013
        </h3>
    </div>

    <div data-role=content>
        <h3>Jours de conférences</h3>
        <ul data-role=listview data-inset=true
            id=listjours>
             <li ng-repeat="jour in programme.jours"><a href="#{{jour.title}}">{{jour.date}}</a><span class="ui-li-count">{{jour.countTalks}}</span></li>

        </ul>
    </div>
</div>

<div data-role="page" id="{{jour.title}}" ng-repeat="jour in programme.jours" data-theme="d">
    <div data-role="header">
        <h3>{{jour.title}}</h3>
    </div>

    <div data-role=content>

        <div data-role="collapsible-set" data-theme="b" data-content-theme="d">
            <div data-role="collapsible" ng-repeat="horaire in jour.horaires">
                <h2>{{horaire.time}}</h2>
                <ul data-role=listview>
                    <li ng-repeat="talk in horaire.talks">
                        <a ng-click="openTalk(talk)">
                        <h2>{{talk.title}} - @{{talk.room}}</h2>
                        <p style="color: {{creneaux[talk.format].color}}">
                            <strong>{{creneaux[talk.format].title}}</strong>
                        </p>
                        <span class="ui-li-count">{{talk.track}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div data-role="page" id="talk" data-theme="d">
    <div data-role="header">
        <h3>{{talk.title}}</h3>
    </div>

    <div data-role="content">
        <h2>{{talk.title}}</h2>
        <h3>Abstract</h3>
        <p ng-bind-html-unsafe="getSafeDescription(talk.description)"></p>
        <h3>Speaker(s)</h3>
        <ul data-role="listview" data-inset="false" >
            <li class="speaker" ng-repeat="speaker in talk.speakers">
                <img ng-src="{{speaker.avatar}}">
                <h4 class="name">{{speaker.fullname}}</h4>
                <p ng-bind-html-unsafe="getSafeDescription(speaker.description)" class="detail"></p>
            </li>
        </ul>
    </div>

</div>


{% endraw %}


</body>


<script src="{{site.url}}/js/Markdown.Converter.js"></script>
<script src="{{site.url}}/js/Markdown.Sanitizer.js"></script>
</html>
