---

---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr'" lang="fr-fr" ng-app ng-controller="MobileCtrl">
<head>
    <meta charset="utf-8">
    <meta name="title" content="{{site.title}}">
    <meta itemprop="name" content="{{site.title}}">
    <meta property="og:title" content="{{site.title}}">
    <meta name="description" content="{{site.description}}">
    <meta itemprop="description" content="{{site.description}}">
    <meta id="meta-tag-description" property="og:description" content="{{site.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{site.title}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{site.url}}/img/favicon.ico" />
    <link rel="icon" type="image/png" href="{{site.url}}/img/favicon.png"/>
    <link rel="apple-touch-icon" href="{{site.url}}/img/apple-touch-icon.png"/>



    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
    <script src="{{site.url}}/js/jquery-mobile-angular-adapter-standalone.min.js"></script>

{% raw %}
    <script>
        function MobileCtrl($scope, $http) {
            $scope.loading = true;

            $http.jsonp("http://cfp.breizhcamp.org/programme/jsonp?callback=JSON_CALLBACK")
                    .success(function(data) {
                        angular.forEach(data.programme.jours, function(jour){

                            jour.countTalks = 0;

                            angular.forEach(jour.tracks, function(track){
                                jour.countTalks += track.talks.length;
                            });
                        });
                        $scope.programme = data.programme;
                        $scope.loading = false;
                    });
        }

    </script>
</head>
<body>



<!-- Home -->
<div data-role="page" id="jours">
    <div data-role="header">
        <h3>
            Breizhcamp 2013
        </h3>
    </div>

    <div data-role=content>
        <h3>Jours de conférences</h3>
        <ul data-role=listview data-inset=true
            id=listjours>
             <li ng-repeat="jour in programme.jours"><a href="#{{jour.title}}">{{jour.date}}</a><span class="ui-li-count">{{jour.countTalks}}</span></li>

        </ul>
    </div>
</div>

<div data-role="page" id="{{jour.title}}" ng-repeat="jour in programme.jours">
    <div data-role="header">
        <h3>Breizhcamp 2013 > {{jour.title}}</h3>
    </div>

    <div data-role=content>

    </div>
</div>


{% endraw %}


</body>


<script src="{{site.url}}/js/Markdown.Converter.js"></script>
<script src="{{site.url}}/js/Markdown.Sanitizer.js"></script>
</html>
