*{
	margin: 0 auto;
	padding: 0 auto;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	width: 100%;
    background-color: #fffde7;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.clear{
    clear: both;
}

img, svg{
    width: 100%;
    height: auto;
}



.main{
	width:90%;
	max-width: 1280px;
}

header{
	width: 100%;
	background-color: #fffde7;
    float: left;
}
.logo{width: 33.33%; float: left;}

.edition{width: 33.33%; float: left; text-align: center;  height: 50px; vertical-align: middle; margin-top: 4%; }

.edition p{padding-top: 6%; margin-left: 5%;  }

.txtHeader{width: 33.33%; float: left; text-align: right; margin-top: 4%;}


footer{
	width: 100%;
	background-color: #fffde7;
}

footer img{
	width: 80%;
	text-align: center;
    margin-bottom:1%;
}

section{
    min-height: 509px;
}


.txtMobile{
    display: none;
}

footer{
    margin-bottom:5%;
}

@media screen and (max-width: 640px) {
    section img{
        display: none;
    }
    

    
    .logo, .edition, .textHeader{
        width: 80%;
        float: none;
        text-align: center;
    }
    
    .main .edition{
        font-size: 2em;
        font-weight: 500;
        text-align: center;
    }
    
    .txtMobile{
        display: block;
    }
    
    .txtMobile p{
        margin-top: 4%;
        margin-bottom: 4%;
    }
    
    .titleSection{
        font-weight: 500;
        font-size: 2em; color: #91268f;
    }
    
    footer img{
	    width: 100%;
	    text-align: center;
    }
    
    .txtHeader{text-align: center; width: 100%; margin-bottom: 5%; color: #db7726;}
}