---
layout: layout
label: Programme
---
<h3>Programme</h3>
<h4>Voici le Programme complet des 2 jours. Consultez-le directement depuis votre mobile sur <a href="http://app.voxxr.in/#event~bzh13">voxrr.in</a>.</h4>
<h4>Une version pdf est &eacute;galement disponible <a href="http://pdf.breizhcamp.cloudbees.net/programme.pdf">ici</a>.</h4>

<div>

    <style type="text/css">
        .ng-cloak {
            display:none;
        }

        .fc-event { cursor: pointer; }
        .room { 
            float:right;
            color:#000; 
            border: solid 1px #888; 
            background-color: #eee; 
            padding: 2px; }
    </style>

    <div class="alert hidden-desktop">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Le programme optimisé pour les mobiles <a href="{{site.url}}/mobile.html">ici</a> et sur <a href="http://app.voxxr.in/#event~bzh13">voxrr.in</a></h4>
    </div>

{% raw %}


    <div class="container" ng-app="Programme" ng-controller="ProgrammeCtrl">
        <h3 ng-show="loading">Chargement du programme...</h3>

        <div id="programme" class="ng-cloak">
            <fieldset ng-show="!loading">
                <legend>Choisissez le(s) type(s) de track(s)</legend>
                <div class="row">
					<div class="span3">
						<select ng-model="selectedTracks" ng-options="track for track in allTracks" multiple="true" ng-change="loadAllCalendar()" size="11" class="input-xlarge"></select>
					</div>
					<div class="contenuprogramme span8">
						<ul>
							<li><b class="violet">Universités</b>, sessions longues pour traiter un sujet en profondeur</li>
							<li><b class="rouge">Hands-on</b>, session main dans le cambouis, 100% pratique</li>
							<li><b class="bleu">Tools in action</b>, 100% pratique pour découvrir concrètement un sujet</li>
							<li><b class="orange">Conférences</b> format classique d'une heure, et <b class="gris">Labs</b> de mise en pratiques</li>
							<li><b class="vert">Quickies</b>, sessions express pendant la pause déjeuner pour ne pas perdre une miette</li>
						</ul>
					</div>
				</div>
            </fieldset>

            <fieldset  ng-repeat="jour in programme.jours" >
                <legend ng-click="loadCalendar(jour)">Programme du {{jour.date}}</legend>
                <div id='calendar{{jour.title}}'></div>
                <div calendar umbilical="programme.jours[$index]"></div>

                <div ng-repeat="track in jour.tracks">
                    <div ng-repeat="talk in track.talks">
                        <div id="talk{{talk.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="talkLabel{{talk.id}}" aria-hidden="true">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 id="talkLabel{{talk.id}}">{{talk.title}}</h4>
                            </div>
                            <div class="github-fork-ribbon-wrapper right">
                                <div class="github-fork-ribbon">
                                    <span>{{talk.room}}</span>
                                </div>
                            </div>
                            <div class="modal-body">
                                <p>Présenté par
                                    <ul class="media-list">
                                        <li ng-repeat="speaker in talkModal.speakers" class="media">
                                            <a class="pull-left" ng-click="showSpeakerDetail(talk.id, speaker)">
                                                <img ng-src="{{speaker.avatar}}" style="max-height: 64px;max-width: 64px"/>
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading">
                                                    <br/>
                                                    <a ng-click="showSpeakerDetail(talk.id, speaker)">{{speaker.fullname}}</a>
                                                </h4>
                                            </div>
                                        </li>
                                    </ul>
                                </p>
                                <p ng-bind-html-unsafe="getSafeDescription(talkModal.description)"></p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div id="speaker" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="speakerLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <div class="media">
                    <img class="pull-left" ng-src="{{speakerModal.avatar}}" style="max-height: 64px;max-width: 64px"/>
                    <div class="media-body">
                        <br/>
                        <h3 class="media-heading" id="speakerLabel">{{speakerModal.fullname}}</h3>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <p ng-bind-html-unsafe="getSafeDescription(speakerModal.description)"></p>
                <p><b ng-show="speakerModal.liens.length > 0"><u>Liens :</u></b>
                <ul>
                    <li ng-repeat="lien in speakerModal.liens"><a href="{{lien.url}}" target="_blank">{{lien.label}}</a></li>
                </ul>
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>

    </div>


    <script>
        var app = angular.module("Programme", []);

        var creneaux = {};
        creneaux['universite'] = 175;
        creneaux['quickie'] = 15;
        creneaux['hands-on'] = 175;
        creneaux['tools in action'] = 25;
        creneaux['conference'] = 55;
        creneaux['lab'] = 55;
        creneaux['biglab'] = 115;
        creneaux['keynote'] = 30;

        var colors = {};
        colors['universite'] = '#9900FF';
        colors['quickie'] = '#38761D';
        colors['hands-on'] = '#DD0000';
        colors['tools in action'] = '#3D85C6';
        colors['conference'] = '#FF9900';
        colors['lab'] = '#696969';
        colors['biglab'] = '#696969';

        function ProgrammeCtrl($scope, $http, $log) {
            $scope.loading = true;
            $scope.allTracks = [];
            $scope.selectedTracks = [];


            $http.jsonp("http://cfp.breizhcamp.org/programme/jsonp?callback=JSON_CALLBACK")
                    .success(function(data) {
                        angular.forEach(data.programme.jours, function(jour){
                            angular.forEach(jour.tracks, function(track){
                                if ($.inArray(track.type, $scope.allTracks) === -1) {
                                    $scope.allTracks.push(track.type);
                                    $scope.selectedTracks.push(track.type);
                                }
                            });
                        });
                        $scope.programme = data.programme;
                        $scope.loading = false;
                    });


            $scope.converter = new Markdown.getSanitizingConverter();

            $scope.getSafeDescription = function(description) {
                if (description) {
                    return $scope.converter.makeHtml(description);
                }
                return "";
            };

            $scope.loadAllCalendar = function() {
                angular.forEach($scope.programme.jours, function(jour){
                    $scope.loadCalendar(jour);
                });
            };

            $scope.loadCalendar = function(jour) {

                var dateInFields = jour.date.split('/');
                var year = parseInt(dateInFields[2]);
                var month = parseInt(dateInFields[1]);
                var day = parseInt(dateInFields[0]);

                var events = [];

                var maxHour = 0;
                var minHour = 24;

                angular.forEach(jour.tracks, function(track){
                    if ($.inArray(track.type, $scope.selectedTracks) !== -1) {
                        angular.forEach(track.talks, function(talk){

                            var timeInField = talk.time.split(':');
                            var startHour = parseInt(timeInField[0]);
                            var startMinutes = parseInt(timeInField[1]);
                            var timeOfTalk = creneaux[talk.format];
                            var endHour = startHour;
                            var endMinutes = startMinutes + timeOfTalk;
                            while (endMinutes > 60) {
                                endMinutes = endMinutes - 60;
                                endHour = endHour + 1;
                            }

                            if (endHour > maxHour) {
                                maxHour = endHour;
                            }
                            if (startHour < minHour) {
                                minHour = startHour;
                            }

                            var event = {
                                title: talk.title + " (" + talk.room + ")",
                                start: new Date(year, month-1, day, startHour,startMinutes),
                                end: new Date(year, month-1, day, endHour,endMinutes),
                                id : talk.id,
                                allDay: false,
                                color:colors[talk.format]
                            };
                            events.push(event);
                        });
                    }
                });


                $('#calendar' + jour.title).fullCalendar('removeEvents');

                $('#calendar' + jour.title).html('');

                $('#calendar' + jour.title).fullCalendar({
                    defaultView: 'agendaDay',
                    slotMinutes: 15,
                    header: {
                        left:   '',
                        center: '',
                        right: ''
                    },
                    titleFormat: {
                        day: ''
                    },
                    columnFormat: {
                        day: ''
                    },
                    allDaySlot: false,
                    minTime: minHour,
                    maxTime: maxHour+1,
                    axisFormat: 'HH:mm',
                    contentHeight:10000,
                    height:10000,
                    timeFormat: {
                        agenda: 'HH:mm{ - HH:mm}'
                    },
                    eventClick:function(calEvent, jsEvent, view) {
                        $scope.showDetailOfTalk(calEvent.id);
                    },
                    events: events
                });

                $('#calendar' + jour.title).fullCalendar(
                        'gotoDate',
                        year,
                        month - 1,
                        day);
            };

            $scope.showDetailOfTalk = function(talkId) {
                $scope.talkModal = undefined;
                $scope.$apply();
                if (talkId !== undefined) {
                    $('#talk' + talkId).modal('show');

                    $http.jsonp("http://cfp.breizhcamp.org/accepted/talk/" + talkId + "/jsonp?callback=JSON_CALLBACK")
                            .success(function(data) {
                                angular.forEach(data.speakers, function(speaker){
                                    // Optim gravatar
                                    if (speaker.avatar && speaker.avatar.indexOf("gravatar") !== -1) {
                                        speaker.avatar = speaker.avatar + "&s=200";
                                    }
                                    // Optim twitter
                                    if (speaker.avatar && speaker.avatar.indexOf("twimg") !== -1) {
                                        if (speaker.avatar.indexOf("_normal") !== -1) {
                                            speaker.avatar = speaker.avatar.replace("_normal", "");
                                        }
                                    }
                                });
                                $scope.talkModal = data;
                            });
                }
            };

            $scope.showSpeakerDetail = function(talkId, speaker) {
                $scope.speakerModal = speaker;
                $('#talk' + talkId).modal('hide');
                $('#speaker').modal('show');
            }
        }

        app.directive('calendar', function($parse, $timeout) {
            return {
                restrict: "A",
                replace: true,
                scope: {
                    umbilical: "&"
                },
                transclude: false,
                compile: function($parse) {
                    return function(scope, el, attrs) {
                        var jour = scope.umbilical();
                        $timeout(function() {
                            scope.$parent.loadCalendar(jour);
                        }, 0);
                    }
                }
            };
        });
    </script>

</div>

{% endraw %}


<div class="information">
    <b>Equivalence en DIF : 7 heures par journée</b>
</div>
