---
layout: layout
label: Speakers
---

<h3>Speakers</h3>
{% raw %}
<div>
    <style type="text/css">
        .speaker {
            float: left;
            margin: 0;
            border-top: 1px solid rgba(0, 0, 0, 0.4);
            border-left: 1px solid rgba(0, 0, 0, 0.4);
            width: 200px;
            height: 200px;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .speaker .avatar {
            max-width: 200px;
            height: 200px;
        }

        .speaker .captionUp {
            background-color: rgba(0, 0, 0, 0.4);
            color: #ffffff!important;
            position: relative;
            overflow: hidden;
            bottom: 200px;
            height: 25px;
            line-height: 1.2em;
        }

        .speaker .captionDown {
            background-color: rgba(0, 0, 0, 0.4);
            color: #ffffff!important;
            position: relative;
            overflow: hidden;
            bottom: 50px;
            height: 25px;
            line-height: 1.2em;
        }

        .speaker .captionDown .bioLink {
            width:50%;
            float: left;
            margin-top:4px;
        }

        .speaker .captionDown .talksLink {
            width:50%;
            float: left;
            margin-top:4px;
        }

        .speaker .speakerName {
            font-size: 18px;
            width:200px;
            text-align:center;
            margin-top: 3px;
        }

        .speaker .modal-body {
            text-align: left;
        }

        .speaker .modal-body h4 {
            color: #ff882a!important;
        }

        .ng-cloak {
            display:none;
        }
    </style>
    <div class="container" ng-app="AcceptedSpeakers" ng-controller="AcceptedSpeakersCtrl">
        <h3 ng-show="loading">Chargement des speakers...</h3>

        <div class="speaker ng-cloak" ng-repeat="speaker in speakers">
            <img class="avatar" ng-src="{{speaker.avatar}}"/>
            <div class="captionUp">
                <div class="speakerName">
                    <span>{{speaker.fullname}}</span>
                </div>
            </div>
            <div class="captionDown">
                <div class="bioLink">
                    <a href="#speaker{{speaker.id}}" role="button" data-toggle="modal">Sa bio</a>
                </div>
                <div class="talksLink">
                    <a href="#talks{{speaker.id}}" role="button" data-toggle="modal">Ses talks</a>
                </div>
            </div>
            <div id="speaker{{speaker.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="speakerLabel{{speaker.id}}" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="speakerLabel{{speaker.id}}">{{speaker.fullname}}</h3>
                </div>
                <div class="modal-body">
                    <p ng-bind-html-unsafe="getSafeDescription(speaker.description)"></p>
                    <p><b ng-show="speaker.liens.length > 0"><u>Liens :</u></b>
                    <ul>
                        <li ng-repeat="lien in speaker.liens"><a href="{{lien.url}}" target="_blank">{{lien.label}}</a></li>
                    </ul>
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
            <div id="talks{{speaker.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="talkLabel{{speaker.id}}" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 id="talkLabel{{speaker.id}}">Talks présentés par {{speaker.fullname}}</h4>
                </div>
                <div class="modal-body">
                    <div ng-repeat="talk in speaker.talks">
                        <h4>{{talk.title}}</h4>
                        <p ng-show="talk.otherspeakers.length > 0">Également présenté par
                            <ul>
                                <li ng-repeat="autreSpeaker in talk.otherspeakers">
                                    <a ng-click="changeModalTalkToSpeaker(speaker.id, autreSpeaker.id)">{{autreSpeaker.fullname}}</a>
                                </li>
                            </ul>
                        </p>
                        <p ng-bind-html-unsafe="getSafeDescription(talk.description)"></p>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        angular.module("AcceptedSpeakers", []);

        function AcceptedSpeakersCtrl($scope, $http, $log) {

            $scope.loading = true;

            $http.jsonp("http://cfp.breizhcamp.org/accepted/speakers/jsonp?callback=JSON_CALLBACK")
                    .success(function(data) {

                        $scope.speakers = data;
                        for (var i=0;i<$scope.speakers.length;i++) {
                            // Optim gravatar
                            if ($scope.speakers[i].avatar && $scope.speakers[i].avatar.indexOf("gravatar") !== -1) {
                                $scope.speakers[i].avatar = $scope.speakers[i].avatar + "&s=200";
                            }
                            // Optim twitter
                            if ($scope.speakers[i].avatar && $scope.speakers[i].avatar.indexOf("twimg") !== -1) {
                                if ($scope.speakers[i].avatar.indexOf("_normal") !== -1) {
                                    $scope.speakers[i].avatar = $scope.speakers[i].avatar.replace("_normal", "");
                                }
                            }
                        }
                        $scope.loading = false;
                    });


            $scope.converter = new Markdown.getSanitizingConverter();

            $scope.getSafeDescription = function(description) {
                if (description) {
                    return $scope.converter.makeHtml(description);
                }
                return "";
            };

            $scope.changeModalTalkToSpeaker = function(oldId, newId) {
                $('#talks' + oldId).modal('hide');
                $('#speaker' + newId).modal('show');
            };
        }
    </script>
</div>
{% endraw %}

<div class="foot_info">
    plus de speakers annoncés ... bientôt, avec le programme complet
</div>